In [7]:
from pipable import Pipable
import pandas as pd

In [8]:
pip = Pipable("sample_data/configPG_alyf.yaml")

In [9]:
pip.ask("give me first, last name, blood pressure and datetime of patients at risk")

SELECT m.first_name, m.last_name, a.bp_systolic_daily_avg, a.bp_diastolic_daily_avg, a.timestamp
FROM alyf_asvs a
JOIN alyf_members m ON a.member_id = m.member_id
WHERE a.daily_hfi > 35;
Query executed successfully.

In [10]:
pip.get_latest_output()

,first_name,last_name,bp_systolic_daily_avg,bp_diastolic_daily_avg,timestamp
0,Laura,Lin,NaN,NaN,2023-03-26 00:00:00+00:00
1,Laura,Lin,NaN,NaN,2023-03-27 00:00:00+00:00
2,Laura,Lin,NaN,NaN,2023-03-28 00:00:00+00:00
3,Laura,Lin,NaN,NaN,2023-03-29 00:00:00+00:00
4,Laura,Lin,NaN,NaN,2023-03-30 00:00:00+00:00
...,...,...,...,...,...
177,Christopher,Shelton,190.0,104.0,2023-04-09 00:00:00+00:00
178,Christopher,Shelton,199.0,108.0,2023-04-22 00:00:00+00:00
179,Christopher,Shelton,210.0,120.0,2023-05-21 00:00:00+00:00
180,Christopher,Shelton,210.0,120.0,2023-06-21 00:00:00+00:00
181,Joseph,Hill,141.0,88.0,2023-05-28 00:00:00+00:00

In [11]:
if type(pip.get_latest_output()) == pd.DataFrame:
    pip.ask(f"I have this table that I want to present to my user as a fully constructed english response to the question.?{str(pip.get_latest_output())}","llm")
else:
    pass

LLM: Here is the fully constructed English response to the table:

The table shows the daily average systolic and diastolic blood pressure for each individual.

For Laura Lin, there are no recorded values for the systolic and diastolic blood pressure.

For Christopher Shelton, the daily average systolic blood pressure ranges from 190mmHg to 210mmHg, and the diastolic blood pressure ranges from 104mmHg to 120mmHg. The corresponding timestamps for the recorded values are as follows:
- 2023-04-09: Systolic - 190 mmHg, Diastolic - 104 mmHg
- 2023-04-22: Systolic - 199 mmHg, Diastolic - 108 mmHg
- 2023-05-21: Systolic - 210 mmHg, Diastolic - 120 mmHg
- 2023-06-21: Systolic - 210 mmHg, Diastolic - 120 mmHg

For Joseph Hill, the daily average systolic blood pressure is 141mmHg and the diastolic blood pressure is 88mmHg. The corresponding timestamp for the recorded values is 2023-05-28.

In [12]:
pip.get_all_outputs()

{'outputs': [      first_name last_name  bp_systolic_daily_avg  bp_diastolic_daily_avg  \
  0          Laura       Lin                    NaN                     NaN
  1          Laura       Lin                    NaN                     NaN
  2          Laura       Lin                    NaN                     NaN
  3          Laura       Lin                    NaN                     NaN
  4          Laura       Lin                    NaN                     NaN
  ..           ...       ...                    ...                     ...
  177  Christopher   Shelton                  190.0                   104.0
  178  Christopher   Shelton                  199.0                   108.0
  179  Christopher   Shelton                  210.0                   120.0
  180  Christopher   Shelton                  210.0                   120.0
  181       Joseph      Hill                  141.0                    88.0

                      timestamp
  0   2023-03-26 00:00:00+00:00
  1   2023-03-27 00:00:00+00:00
  2   2023-03-28 00:00:00+00:00
  3   2023-03-29 00:00:00+00:00
  4   2023-03-30 00:00:00+00:00
  ..                        ...
  177 2023-04-09 00:00:00+00:00
  178 2023-04-22 00:00:00+00:00
  179 2023-05-21 00:00:00+00:00
  180 2023-06-21 00:00:00+00:00
  181 2023-05-28 00:00:00+00:00

  [182 rows x 5 columns],
  'Here is the fully constructed English response to the table:\n\nThe table shows the daily average systolic and diastolic blood pressure for each individual. \n\nFor Laura Lin, there are no recorded values for the systolic and diastolic blood pressure.\n\nFor Christopher Shelton, the daily average systolic blood pressure ranges from 190mmHg to 210mmHg, and the diastolic blood pressure ranges from 104mmHg to 120mmHg. The corresponding timestamps for the recorded values are as follows:\n- 2023-04-09: Systolic - 190 mmHg, Diastolic - 104 mmHg\n- 2023-04-22: Systolic - 199 mmHg, Diastolic - 108 mmHg\n- 2023-05-21: Systolic - 210 mmHg, Diastolic - 120 mmHg\n- 2023-06-21: Systolic - 210 mmHg, Diastolic - 120 mmHg\n\nFor Joseph Hill, the daily average systolic blood pressure is 141mmHg and the diastolic blood pressure is 88mmHg. The corresponding timestamp for the recorded values is 2023-05-28.'],
 'errors': []}