In [47]:
from pipable import Pipable
import pandas as pd

In [48]:
pip = Pipable("sample_data/configPG_alyf.yaml")

In [49]:
pip.ask("give me first and last name of patients at risk ")

SELECT first_name, last_name
FROM alyf_members
WHERE member_id IN (
    SELECT member_id
    FROM alyf_asvs
    WHERE daily_hfi > 35 OR bp_systolic_daily_avg > 120
)
Query executed successfully.

In [50]:
type(pip.get_latest_output())

pandas.core.frame.DataFrame

In [51]:
if type(pip.get_latest_output()) == pd.DataFrame:
    pip.ask(f"I have this table that I want to present to my user as a fully constructed english response to the question.?{str(pip.get_latest_output())}")
else:
    pass

LLM: The table consists of three rows of data. The first row includes a person named Joseph Hill, while the second row includes a person named Laura Lin. Lastly, the third row contains information about Christopher Shelton.

In [52]:
pip.get_all_outputs()

{'outputs': [    first_name last_name
  0       Joseph      Hill
  1        Laura       Lin
  2  Christopher   Shelton,
  'The table consists of three rows of data. The first row includes a person named Joseph Hill, while the second row includes a person named Laura Lin. Lastly, the third row contains information about Christopher Shelton.'],
 'errors': []}