In [1]:
from pipable import Pipable

/home/raghav/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
a = Pipable("sample_data/configPG.yaml")

In [3]:
a.ask("search data, give me first and last name of patient with the highest weight_daily_avg")

No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)

In [4]:
a.get_latest_output()

       0    1
0  Laura  Lin