In [1]:
from pipable import Pipable

/home/csart/env/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
a = Pipable("sample_data/configPG.yaml")

In [14]:
a.ask("Which of my patients have a heart failure risk")

In [15]:
a.get_latest_output()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,d4b4fb84-e5db-4d39-97cd-d7e3e659aaf5,22whojLaehSsEtF0mwbjfmkAb1q2,True,Joseph,Hill,joseph_hillhd@icloud.com,2023-06-14 00:12:54.209084+00:00,2023-07-06 20:24:55.494387+00:00,True,ac7a5bea-4b87-4f40-82ca-8426d6bda796,None,male,"6719 Aaron Ford\nNorth Williamberg, MA 61646",1981-09-14 00:00:00+00:00,UTC
1,e280bb0a-0b94-4026-8460-1847d109ef92,22whojLaehSsEtF0mwbjfmkAb1q2,True,Laura,Lin,lauralin1p@gmail.com,2023-06-14 00:12:46.031470+00:00,2023-07-06 20:25:03.884232+00:00,True,d66fdad1-9147-41d2-8ca4-a05dac290d61,None,female,"162 Tina Stravenue Suite 065\nEast Michael, SC...",1991-12-06 00:00:00+00:00,UTC
2,4b05e4a7-1db5-4d4e-ac2b-7e5838f65550,22whojLaehSsEtF0mwbjfmkAb1q2,True,Christopher,Shelton,christopher_shelton@gmail.com,2023-06-14 00:13:04.303417+00:00,2023-07-06 20:25:13.410460+00:00,True,f95955d0-0c81-4752-ad5b-085ac929e5e0,None,male,"2087 Allen Ville Suite 825\nPort Andrefort, NY...",1980-03-01 00:00:00+00:00,UTC

[('SELECT m.first_name, m.last_name\nFROM alyf_asvs AS a\nJOIN alyf_members AS m ON a.member_id = m.member_id\nORDER BY a.weight_daily_avg DESC\nLIMIT 1;',
  'normal'),
 ('SELECT m.member_id \nFROM alyf_asvs AS a \nJOIN alyf_members AS m ON a.member_id = m.member_id \nWHERE a.daily_hfi > 35;',
  'normal'),
 ('SELECT a.member_id\nFROM alyf_members a\nJOIN alyf_asvs b ON a.member_id = b.member_id\nWHERE b.daily_hfi > 35;',
  'normal'),
 ('SELECT DISTINCT a.member_id\nFROM alyf_members a\nJOIN alyf_asvs b ON a.member_id = b.member_id\nWHERE b.daily_hfi > 35;',
  'normal')]